/*
colours
*/
:root {
    --colour-main: #54504c;
    --colour-a: #70440F;
    --colour-b: #3EBD5A;
    --colour-c: #5919BD;
    --colour-d: #381470;
}

/*
 spacing
*/
:root {
    --spacing-medium: 1em;
}

/*
styles
*/

.main-font {
    font-family: 'Dela Gothic One', fantasy, cursive;
}

.second-font {
    font-family: 'Open Sans', auto, sans-serif;
}

.category {
    cursor: pointer;
}

.buttons {
    margin-top: var(--spacing-medium);
}

#current-joke-label {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: 1rem;
}
@media only screen and (max-width: 600px) {
.buttons {
        display: flex;
        justify-content: space-around;
    }
}

.em-p1-spacing {
    letter-spacing: .1em;
}

.header-border {
    border-bottom: 5px solid var(--colour-d);
}


.bg-main {
    background-color: var(--colour-main);
}

.bg-a {
    background-color: var(--colour-a);
}

.bg-c {
    background-color: var(--colour-c);
}

.c-main {
    color: var(--colour-main);
}

.c-a {
    color: var(--colour-a);
}

.c-b {
    color: var(--colour-b);
}

.c-c {
    color: var(--colour-c);
}

.c-d {
    color: var(--colour-d);
}

#current-joke {
    font-size: 22px;
}

#categories-label {
    margin-top: 8px;
}

.btn:visited {
    border: 2px solid red;
}

.btn:active {
    border: 3px solid var(--colour-b);
}

.link:focus {
    outline: none;
}

.no-outline {
    outline: none;
}

p text {
    color: black;
}

.category-btn {
    max-width: 100px;
    min-width: 60px;
    text-align: center;
    display: block;
}