.toast-container {
    min-width: 80%;
    margin-left: -125px;
    border-radius: 8px;
    position: fixed;
    left: 20%;
    bottom: 30px;
}

.toast-loader {
    opacity: 1;
    background-color: red;
}

/* toast loader */

.toast-loader-background {
    height: 5px;
    background-color: rgb(116, 41, 41, .5);
    flex-grow: .99;
}

.toast-loader {
    animation: load 8s linear;
    border-radius: 100px;
    height: 7px;
    width: 0%;
  }

.dont-animate {
    animation: none;
    width: 100%;
  }

  @keyframes load {
    0% { width: 100%; }
    100% { width: 0%; }
  }